<h5>Create student in db</h5>
<fieldset>
  <legend>Create</legend>
  <form method="post">
    <input type="text" name="firstName" placeholder="First Name" />
    <br />
    <input type="text" name="lastName" placeholder="Last Name" />
    <br />
    <input type="number" name="born" placeholder="Born" />
    <br />

    <input type="email" name="email" placeholder="E-mail" />
    <br />
    <input type="imageUrl" name="imageUrl" placeholder="Image link" />
    <br />
    <input type="submit" value="create" />
  </form>
</fieldset>